{% extends "admin/base.html" %}

{% block title %}Mi Tienda - Administración{% endblock %}

{% block branding %}
    <h1 style="color: #007bff00; text-align: center;">Panel de Administración - Mi Tienda</h1>
{% endblock %}

{% block extrastyle %}
    <style>
        body {
            background-color: #f8f9fa00;
        }
        #header {
            background: #007bff02;
            color: rgba(255, 255, 255, 0);
            padding: 10px;
        }
        .module h2 {
            background: #0057b300;
            color: rgba(255, 255, 255, 0);
            padding: 5px;
        }
    </style>
{% endblock %}